.trm-copyright-area {
    padding: 10px 0;
    .copyright-list {
        ul {
            li {
                display: inline-block;
                position: relative;
                padding-right: 20px;
                &:last-child {
                    padding-right: 0;
                }
                &::before {
                    position: absolute;
                    content: "";
                    width: 1px;
                    background: $bodyColor;
                    height: 12px;
                    top: 6px;
                    left: -12px;
                }
                a {
                    color: $bodyColor;
                    transition: 0.4s;
                    font-family: $othersFont;
                    font-weight: 400;
                    &:hover {
                        color: $secondaryColor;
                    }
                }
            }
        }
    }
    .copyright-content {
        .content {
            margin-right: 20px;
        }
    }
}
