// <!--Sc Cta CSS -->
.trm-cta-section-area {
    background: url(../images/banner/cta-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 140px;
    .heading-area {
        padding-bottom: 360px;
        line-height: 1;
    }
    .section-btn {
        padding-bottom: 50px;
    }
}
// <!--Sc Cta CSS -->
.trm-cta-section-area2 {
    background: url(../images/banner/cta-bg2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 265px;
    .trm-content-area {
        .cta-content {
            .cta-title {
                line-height: 1;
                margin-bottom: 85px;
                font-size: 60px;
            }
        }
    }
}
// <!--Sc Cta CSS -->
.trm-cta-section-area3 {
    background: url(../images/banner/seguridad-salud-somos-tirme.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 180px;
}
// <!--Sc Cta CSS -->
.trm-cta-section-area4 {
    background: url(../images/banner/vision-mision-somos-tirme.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 70px;
    .trm-cta-content-area {
        max-width: 710px;
    }
}
// <!--Sc Cta CSS -->
.trm-cta-section-area5 {
    background: url(../images/banner/reserva-compost-online-tirme.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 155px;
    padding-bottom: 180px;
    .cta-area {
        padding-left: 235px;
        max-width: 950px;
        margin: 0 auto;
        .trm-cta-btn {
            padding-top: 20px;
        }
    }
}
// <!--Sc Cta CSS -->
.trm-cta-section-area6 {
    background: url(../images/banner/impacto-ambiental-lo-vivimos.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160px;
    padding-bottom: 200px;
    .cta-area {
        max-width: 665px;
    }
}
// <!--Sc Cta CSS -->
.trm-cta-section-area7 {
    background: url(../images/banner/pmva-lo-vivimos.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 65px;
    padding-bottom: 140px;
    .cta-area {
        max-width: 865px;
        margin: 0 auto;
    }
}
