.trm-group-section-area {
    background: -webkit-gradient(linear-gradient(220deg, #dadb00 0%, #dadb00 45.31%, #96c21d 98.8%));
    background: linear-gradient(220deg, #dadb00 0%, #dadb00 45.31%, #96c21d 98.8%);
    padding-top: 100px;
    padding-bottom: 100px;
    .trm-group-box {
        position: relative;
        margin-right: 60px;
        .group-btn {
            margin-bottom: 70px;
        }
        .group-btn-area {
            margin-bottom: 5px;
        }
        .trm_shape1 {
            position: absolute;
            top: 56px;
            left: 30.5%;
        }
        .trm_shape2 {
            position: absolute;
            left: 50%;
            top: 56px;
            transform: translateX(-50%);
        }
        .trm_shape3 {
            position: absolute;
            top: 56px;
            right: 29.5%;
        }
        .group-btn-two {
            padding-top: 18px;
        }
    }
    .trm-group-content {
        span {
            color: #000000;
            font-weight: 600;
        }
    }
    .trm-btn {
        position: relative;
    }
    .trm-group-content {
        padding-left: 30px;
    }
    .tecnica {
        left: 19px;
    }
    .direccion {
        left: 10px;
    }
}
