.trm-map-section-area {
    .contact-map {
        iframe {
            width: 100%;
            height: 800px;
            filter: brightness(98%) contrast(71%) saturate(0%) blur(0px) hue-rotate(0deg);
        }
    }
}
