.trm-prensa-section-area {
    background: $thirdColor;
    padding-top: 85px;
    padding-bottom: 45px;
    .trm-prensa-content {
        .trm-prensa-text {
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
            h2 {
                font-size: 30px;
                line-height: 1;
                color: #006747;
                a {
                    color: $primaryColor;
                    transition: 0.4s;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    .prensa-date-list {
        ul {
            .list_1 {
                margin-bottom: 75px;
            }
            .list_2 {
                margin-bottom: 70px;
            }
            .list_3 {
                margin-bottom: 60px;
            }
            .list_4 {
                margin-bottom: 55px;
            }
            .list_5 {
                margin-bottom: 60px;
            }
        }
    }
    .prensa-btn-list {
        .prensa_1 {
            margin-bottom: 45px;
        }
        .prensa_2 {
            margin-bottom: 45px;
        }
        .prensa_3 {
            margin-bottom: 35px;
        }
        .prensa_4 {
            margin-bottom: 35px;
        }
        .prensa_5 {
            margin-bottom: 35px;
        }
    }
    .trm-prensa-btn {
        padding-top: 30px;
    }
    &.trm-prensa-section-area2 {
        background: $whiteColor;
        .heading-area {
            span {
                font-weight: 300;
                padding-left: 15px;
            }
        }
        .prensa-date-list {
            li {
                font-size: 20px;
            }
            .date_1 {
                margin-bottom: 72px;
            }
            .date_2 {
                margin-bottom: 63px;
            }
            .date_3 {
                margin-bottom: 100px;
            }
            .date_4 {
                margin-bottom: 53px;
            }
            .date_5 {
                margin-bottom: 88px;
            }
        }
        .prensa-btn-list {
            .prensa_6 {
                margin-bottom: 45px;
            }
            .prensa_7 {
                margin-bottom: 45px;
            }
            .prensa_8 {
                margin-bottom: 82px;
            }
            .prensa_9 {
                margin-bottom: 35px;
            }
            .prensa_10 {
                margin-bottom: 80px;
            }
        }
    }
}
