.trm-slider-section-area {
    background: url(../images/banner/banner_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .slider-header-content {
        position: relative;
        z-index: 9;
        .slider-title,
        .slider-sub-title {
            color: $whiteColor;
        }
        .slider-title {
            margin-bottom: 26px;
            font-weight: 400;
        }
        span {
            font-weight: 600;
        }
    }
    .slick-current {
        .slider-header-content {
            .slider-title,
            .primary-btn,
            .slider-sub-title {
                -webkit-animation-duration: 2s;
                animation-duration: 2s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                animation-name: lightSpeedInLeft;
                animation-delay: 0.5s;
            }
            .slider-title {
                animation-name: fadeInDown;
            }
            .primary-btn {
                animation-name: fadeInUp;
            }
        }
    }
    .slick-counter {
        position: absolute;
        left: 378px;
        bottom: 45px;
        color: #fff;
        color: #fff;
        .current {
            font-size: 55px;
        }
    }
    .slick-arrow {
        font-size: 0;
        &:before {
            position: absolute;
            bottom: 62px;
            font-family: "remixicon";
            color: #fff;
            font-size: 30px;
            z-index: 9;
        }
    }
    .slick-prev {
        &:before {
            content: "\ea60";
            left: 330px;
        }
    }
    .slick-next {
        &:before {
            content: "\ea6c";
            left: 450px;
        }
    }
    .slick-dots {
        text-align: center;
        max-width: 170px;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            margin: 0 6px;
            button {
                display: inline-block;
                padding: 0;
                height: 9px;
                width: 9px;
                border-radius: 50%;
                border: 2px solid $whiteColor;
                margin: 0;
                font-size: 0;
                background: transparent;
                transition: 0.4s;
                &:hover {
                    background: #fff;
                }
            }
        }
        .slick-active {
            background: #fff;
            width: 9px;
            height: 9px;
            font-size: 0;
            display: inline-block;
            border-radius: 50%;
        }
    }
    .sc-slick-slides {
        position: relative;
        .slick-arrow {
            border: none;
            padding: 0;
            font-size: 0;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            z-index: 9;
            opacity: 0;
            visibility: hidden;
            @include transition();
            &::before {
                position: absolute;
                content: "";
                top: 0;
                background: url(../images/icon/slider_2.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                left: 0;
                right: 45px;
                width: 26px;
                height: 49px;
            }
        }
        .next {
            left: auto;
            right: 80px;
            &::before {
                background: url(../images/icon/slider_1.png);
                left: 45px;
            }
        }
        &:hover {
            .slick-arrow {
                opacity: 1;
                visibility: visible;
            }
            .prev {
                left: 65px;
            }
            .next {
                left: auto;
                right: 135px;
            }
        }
    }
}
.trm-slider-section-area2,
.trm-slider-section-area1 {
    .slider-header-content {
        max-width: 1000px;
        margin: 0 auto;
        padding: 370px 20px 320px;
    }
}

// <!--Sc Slider CSS -->
.trm-slider-section-area2 {
    background: url(../images/banner/slide-que-ofrecemos-tirme.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .slider-item {
        .slider-header-content {
            padding: 230px 20px 295px;
            .header-title {
                font-size: 32px;
                font-weight: 300;
                margin-bottom: 5px;
            }
            .heading-area {
                .title {
                    margin-bottom: 0;
                }
            }
            p {
                max-width: 450px;
            }
            h3 {
                font-size: 42px;
                font-weight: 700;
                margin-bottom: 45px;
            }
        }
    }
}
// <!--Sc Slider CSS -->
.trm-recogida-slider-area2 {
    background: -webkit-gradient(linear-gradient(220deg, #396e49 0%, #396e49 6.31%, #9bbb39 98.8%));
    background: linear-gradient(220deg, #396e49 0%, #396e49 6.31%, #9bbb39 98.8%);
    .slider-item {
        .slider-header-content {
            max-width: 1050px;
            margin: 0 auto 100px;
            padding: 105px 30px 0px !important;
        }
        .sub-tilte {
            font-size: 30px;
            padding-left: 15px;
            font-weight: 300;
        }
    }
}
.slick-arrow {
    border: none;
}
.trm-recogida-slider-area {
    background: -webkit-gradient(linear-gradient(220deg, #dadb00 0%, #dadb00 6.31%, #96c21d 98.8%));
    background: linear-gradient(220deg, #dadb00 0%, #dadb00 6.31%, #96c21d 98.8%);
    .slider-item {
        .slider-header-content {
            max-width: 1050px;
            margin: 0 auto 100px;
            padding: 105px 30px 0px !important;
        }
        img {
            margin-bottom: 95px;
        }
        .sub-tilte {
            font-size: 30px;
            padding-left: 15px;
            font-weight: 300;
        }
    }
}
