// <!--Text CSS -->
.trm-text-section-area {
    padding-top: 95px;
    padding-bottom: 85px;
    .text-content-area {
        max-width: 800px;
        margin: 0 auto;
        .primary-btn {
            margin-top: 40px;
        }
    }
}
// <!--Text CSS -->
.trm-text-section-area2 {
    background: -webkit-gradient(linear-gradient(220deg, #396e49 0%, #396e49 6.31%, #9bbb39 98.8%));
    background: linear-gradient(220deg, #396e49 0%, #396e49 6.31%, #9bbb39 98.8%);
    padding-top: 110px;
    padding-bottom: 95px;
    .heading-area {
        margin-bottom: 110px;
    }
}
