#myTabContent {
    position: relative;
    .product-grid {
        position: relative;
    }
    .trm-product-inner {
        position: relative;
        display: inline-block;
        float: left;
    }
}
@media only screen and (max-width: 1650px) {
    .trm-banner-section-area .trm-banner-item .banner-header-content {
        margin-left: 28.5%;
    }
    .trm-testimonial-section-area .trm-testimonial-text {
        right: 12%;
    }
}
@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1300px;
    }
    .custom-container {
        max-width: 1510px;
        margin: 0 auto;
        padding: 0 30px;
    }
}
@media only screen and (max-width: 1520px) {
    .trm-banner-section-area .trm-banner-item .banner-header-content {
        margin-left: 24.5%;
    }
    .trm-banner-section-area .banner-circle-shape {
        width: 700px;
        height: 700px;
    }
    .trm-group-section-area .tecnica {
        left: 18px;
    }
    .trm-group-section-area .direccion {
        left: 9px;
    }
}
@media only screen and (max-width: 1440px) {
    .trm-testimonial-section-area .trm-testimonial-text {
        right: 8%;
    }
}

/*as col-md*/
@media only screen and (max-width: 1366px) {
    .trm-header-section .trm-main-menu > ul > li {
        margin-right: 15px;
    }
    .trm-header-section .header-btn2 .last-btn,
    .trm-header-section .header-btn2 .first-btn {
        margin-left: 20px;
    }
    .trm-header-section .search-icon {
        margin-left: 15px;
        margin-right: 15px;
    }
    .trm-slider-section-area .slider-header-content .slider-title {
        font-size: 50px;
    }
    .trm-blog-section-area .trm-blog-content .content-title {
        font-size: 28px;
    }
    .trm-testimonial-section-area .trm-testimonial-text {
        right: 0;
    }
    .trm-feature-section-area2 .trm-feature-content .primary-btn {
        margin-top: 30px;
    }
    .trm-group-section-area .trm-group-box {
        position: relative;
        margin-right: 20px;
    }
    .trm-group-section-area .tecnica {
        left: 0;
        top: 6px;
    }
    .trm-group-section-area .direccion {
        left: 22px;
        top: 6px;
    }
    .trm-group-section-area .trm-group-box .trm_shape1 {
        left: 29.5%;
    }
    .trm-form-media-section-area .top-btn {
        bottom: 20.5%;
    }
    .trm-form-media-section-area2 .middle-btn {
        bottom: 38.5%;
    }
    .trm-date-section-area .ui-datepicker-prev:after {
        left: 130px;
    }
}

/*as col-md*/
@media only screen and (max-width: 1199px) {
    .trm-form-inner {
        display: block !important;
    }
    .trm-header-section .header-btn2 {
        display: none;
    }
    .trm-slider-section-area .slider-header-content .slider-title {
        font-size: 35px;
    }
    .trm-gallery-section-area2 .trm_gallery_image-area .gallery-img {
        width: 23.7%;
    }
    .trm-form-section-area .progress-area .progress-title .title {
        font-size: 40px;
    }
    .trm-footer-section-area .footer-contact-menu ul li {
        font-size: 13px;
    }
    .trm-blog-section-area .trm-blog-item .blog-title {
        font-size: 24px;
    }
    .trm-form-section-area .progress-area {
        position: relative;
        top: 25px;
    }
    .trm-objetivous-section-area .trm-objetivous-item .objetivous-img {
        width: 27%;
    }
    .trm-testimonial-section-area .trm-testimonial-text {
        right: 0;
    }
    .trm-testimonial-section-area .trm-testimonial-text {
        position: relative !important;
        margin-bottom: 150px;
    }
    .trm-slider-section-area .slider-header-content {
        margin-bottom: 50px;
    }
    .trm-visita-calender-area .trm-calender-content {
        padding-left: 45px;
    }
    .trm-visita-calender-area .ui-datepicker-prev:after {
        left: 130px;
    }
    .trm-visita-calender-area .ui-datepicker-calendar td {
        padding: 0 14px;
    }
    .trm-recogida-slider-area2 .heading-area .title,
    .trm-recogida-slider-area .heading-area .title {
        font-size: 45px;
    }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .trm-group-section-area .tecnica {
        left: 0;
    }
    .trm-group-section-area .trm-group-box .trm_shape3,
    .trm-group-section-area .trm-group-box .trm_shape1 {
        max-width: 65px;
    }
    .trm-group-section-area .trm-group-box .group-btn {
        margin-bottom: 38px;
    }
    .trm-group-section-area .trm-group-box .trm_shape2 img {
        max-height: 135px;
    }
    .trm-visita-calender-area .ui-datepicker-header {
        left: 24px;
    }
}
/*as col-sm*/
/*large mobile device*/
@media only screen and (min-width: 992px) {
    .trm-product-offcanvas-area .mobile-navbar-menu {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .header-btn-area .canvas {
        display: inline-block !important;
    }
    .trm-serice-section-area {
        padding-top: 80px;
        padding-bottom: 60px;
    }
    .trm-serice-section-area .trm-service-box {
        margin-bottom: 20px;
    }
    .trm-cta-section-area {
        padding-top: 70px;
    }
    .trm-cta-section-area .cta-content {
        padding-bottom: 235px;
    }
    .trm-feature-section-area {
        .trm-feature-image {
            margin-bottom: 50px;
        }
    }
    .trm-feature-section-area .trm-feature-content .feature-title {
        margin-bottom: 20px;
    }
    .trm-form-section-area .progress-area .progress-title,
    .trm-feature-section-area .trm-feature-content .description {
        margin-bottom: 25px;
    }
    .trm-gallery-section-area {
        padding-top: 70px;
    }
    .trm-counter-section-area {
        padding-top: 65px;
    }
    .trm-counter-section-area .trm-counter-content-box {
        margin-bottom: 30px;
    }
    .trm-counter-section-area {
        padding-bottom: 50px;
    }
    .trm-form-section-area .form-title {
        margin-bottom: 15px;
    }
    .trm-blog-section-area .trm-blog-content .content-title {
        font-size: 22px;
    }
    .trm-blog-section-area .description {
        font-size: 15px;
    }
    .trm-header-section .banner-social-icon,
    .trm-footer-section-area .footer-social-icon,
    .trm-main-menu {
        display: none;
    }
    .trm-header-section .canvas {
        display: inline-block !important;
    }
    .trm-header-section .canvas a {
        color: $whiteColor;
        transition: 0.4s;
    }
    .trm-header-section .canvas a:hover {
        color: $whiteColor0_8;
    }
    &.trm-header-sticky .canvas a {
        color: $primaryColor;
    }
    &.trm-header-sticky .canvas a:hover {
        color: $primaryColor;
    }
    .trm-footer-section-area .trm-footer-logo {
        margin-bottom: 20px;
    }
    .heading-area .title {
        font-size: 40px;
    }
    .trm-cta-section-area .heading-area {
        padding-bottom: 215px;
    }
    .trm-cta-section-area2 .trm-content-area {
        position: relative;
        top: 225px;
    }
    .trm-feature-section-area2 .trm-feature-content {
        padding-left: 0;
    }
    .trm-counter-section-area .counter-title,
    .trm-group-section-area .trm-group-box,
    .trm-feature-section-area2 .trm-feature-image {
        margin-bottom: 45px;
    }
    .trm-text-section-area .text-content-area .primary-btn,
    .trm-feature-section-area2 .trm-feature-content .primary-btn {
        margin-top: 0;
    }
    .trm-serice-section-area2 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .trm-group-section-area {
        padding-top: 65px;
    }
    .trm-group-section-area {
        padding-bottom: 50px;
    }
    .trm-text-section-area .text-content-area,
    .trm-cta-section-area3 .heading-area {
        text-align: start !important;
    }
    .trm-cta-section-area3 {
        padding-top: 150px;
        padding-bottom: 70px;
    }
    .trm-cta-section-area3 .heading-area {
        margin-bottom: 250px;
    }
    .trm-serice-section-area3 {
        padding-top: 65px;
    }
    .trm-serice-section-area3 .trm-service-content-box {
        margin-bottom: 50px;
    }
    .trm-cta-section-area4 .heading-area {
        margin-bottom: 100px;
    }
    .trm-text-section-area {
        padding-top: 65px;
        padding-bottom: 70px;
    }
    .trm-valorizacion-section-area {
        padding-top: 35px;
        padding-bottom: 65px;
    }
    .trm-cta-section-area5 .cta-area {
        padding-left: 90px;
    }
    .trm-video-section-area {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .trm-economia-section-area {
        padding-top: 80px;
    }
    .trm-objetivous-section-area {
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .trm-objetivous-section-area .trm-objetivous-item {
        display: block !important;
    }
    .trm-objetivous-section-area .trm-objetivous-item .objetivous-img {
        margin-bottom: 40px;
    }
    .trm-text-section-area2 {
        padding-top: 65px;
        padding-bottom: 70px;
    }
    .trm-social-section-area {
        padding-top: 65px;
        padding-bottom: 75px;
    }
    .trm-cta-section-area6 .heading-area {
        margin-bottom: 245px;
    }
    .trm-cta-section-area6 {
        padding-bottom: 70px;
    }
    .trm-feature-section-area3 .trm-feature-image,
    .trm-contract-section-area2 .trm-contract-group:last-child,
    .trm-text-section-area2 .heading-area {
        margin-bottom: 50px;
    }
    .trm-social-section-area .trm-social-content {
        padding-right: 0;
        margin-bottom: 45px;
    }
    .trm-prensa-section-area .trm-prensa-content .trm-prensa-text:last-child {
        margin-bottom: 55px;
    }
    .trm-contract-section-area,
    .trm-prensa-section-area,
    .trm-blog-section-area.trm-blog-section-area2 {
        padding-top: 65px;
    }
    .trm-contract-section-area3 .trm-contract-image {
        margin-bottom: 60px;
    }
    .trm-date-section-area .date-list {
        margin-bottom: 40px;
    }
    .trm-header-section {
        padding: 12px 0;
    }
    .trm-group-section-area .direccion {
        left: -28px;
    }
    .trm-group-section-area .trm-group-box {
        margin-right: 0;
    }
    .trm-testimonial-section-area {
        padding-top: 0;
    }
    .trm-cta-section-area7 {
        padding-bottom: 65px;
    }
    .trm-feature-section-area4 {
        padding-bottom: 30px;
        padding-top: 70px;
    }
    .trm-group-section-area .tecnica {
        left: 50px;
    }
    .trm-testimonial-section-area2 {
        padding-top: 70px;
        padding-bottom: 80px;
    }
    .trm-testimonial-section-area3 {
        .trm-visita-test-content {
            margin-bottom: 50px;
        }
    }
    .trm-testimonial-section-area4 .trm-visita-test-content {
        margin-left: 0;
    }
    .trm-testimonial-section-area4 .trm-visita-test-content {
        padding-top: 50px;
    }
    .trm-testimonial-section-area4 .trm-visita-test-content {
        margin-bottom: 0;
    }
    .trm-visita-calender-area .trm-calender-content {
        padding-left: 0;
    }
    .trm-visita-calender-area {
        padding-top: 60px;
        padding-bottom: 70px;
    }
    .trm-visita-calender-area .ui-datepicker-calendar {
        margin: 0;
    }
    .trm-form-media-section-area {
        padding-top: 55px;
    }
    .trm-form-media-section-area2 .middle-btn,
    .trm-form-test-section-area .bottom-btn,
    .trm-form-media-section-area .top-btn {
        position: static;
    }
    .trm-form-test-section-area {
        padding-top: 65px;
    }
    .trm-map-section-area .contact-map iframe {
        height: 550px;
    }
    .trm-date-section-area .ui-datepicker-calendar {
        margin: 0;
    }
    .trm-date-section-area .date-list {
        padding-top: 40px;
    }
    .trm-counter-section-area2 {
        padding-bottom: 40px;
    }
    .trm-date-section-area {
        padding-top: 70px;
        padding-bottom: 35px;
    }
    .trm-form-media-section-area .trm-select-form-box .form-box {
        display: block !important;
    }
    .trm-form-media-section-area .trm-select-form-box .form-box label {
        margin-bottom: 10px;
    }
    .trm-prensa-section-area .trm-prensa-content .trm-prensa-text h2 {
        font-size: 25px;
    }
    .trm-form-section-area .form-area {
        padding-right: 0;
    }
}

@media only screen and (max-width: 767px) {
    .trm-form-section-area .form-box textarea {
        height: 145px;
    }
    .trm-copyright-area .copyright-list ul li a {
        font-size: 15px;
    }
    .trm-counter-section-area .counter-title span {
        display: inline-block;
    }
    .trm-counter-section-area .trm-counter-content-box {
        justify-content: center;
    }
    .trm-gallery-section-area2 .trm_gallery_image-area .gallery-img {
        width: 48.7%;
    }
    .trm-counter-section-area .trm-counter-content-box .counter-box {
        max-width: 100%;
    }
    .trm-copyright-area .copyright-list ul li {
        padding-right: 10px;
    }
    .trm-copyright-area .copyright-list ul li::before {
        display: none;
    }
    .trm-cta-section-area5 .cta-area {
        padding-left: 0 !important;
    }
    .trm-contract-section-area .trm-contract-group .trm-contract-content .contract-title {
        font-size: 24px;
    }
    .trm-group-section-area .trm-group-box .group-btn-area {
        max-width: 330px;
        margin: 0 auto 35px;
    }
    .trm-group-section-area .direccion,
    .trm-group-section-area .tecnica {
        left: 0;
        max-width: 150px;
        line-height: 1.2;
    }
    .trm-group-section-area .trm-group-box .group-btn {
        margin-bottom: 35px;
    }
    .trm-group-section-area .trm-group-box .trm_shape1,
    .trm-group-section-area .trm-group-box .trm_shape3 {
        display: none;
    }
    .trm-group-section-area .trm-group-box .group-btn {
        position: relative;
    }
    .trm-group-section-area .direccion:after,
    .trm-group-section-area .tecnica:after {
        content: "";
        position: absolute;
        top: -48px;
        width: 2px;
        height: 50px;
        background: #fff;
        right: 30px;
    }
    .trm-group-section-area .direccion:after {
        right: auto;
        left: 30px;
    }
    .trm-counter-section-area .trm-counter-content-box .counter-image {
        margin-right: 30px;
    }
    .trm-counter-section-area .odometer {
        font-size: 50px;
    }
    .trm-copyright-area .copyright-area,
    .trm-form-media-section-area .trm-form-content {
        display: block !important;
        text-align: center;
    }
    .trm-copyright-area .copyright-content .content {
        margin-right: 0;
        font-size: 16px;
    }
    .trm-form-media-section-area .trm-form-text {
        margin-bottom: 50px;
    }
    .trm-form-media-section-area .trm-select-form-box .form-box textarea {
        height: 150px;
    }
    .trm-visita-calender-area .trm-calender-content {
        margin-top: 30px;
    }
    .trm-visita-calender-area .calender-btn {
        text-align: start !important;
    }
    .trm-visita-calender-area .calender-btn {
        padding-top: 25px;
    }
    .trm-slider-section-area1 .slider-header-content {
        max-width: 500px;
        text-align: center;
    }
    .trm-footer-section-area .trm-footer-logo .trm-logo {
        margin-right: 24px;
    }
    .trm-group-section-area .trm-group-box .group-btn-two {
        padding-top: 4px;
    }
}

/*medium mobile device*/
@media only screen and (max-width: 575px) {
    .trm-main-logo .default-logo img,
    .trm-main-logo .sticky-logo img {
        max-width: 100px;
    }
    .trm-slider-section-area .sc-slick-slides:hover .prev {
        left: 30px;
    }
    .trm-date-section-area .ui-datepicker-calendar .ui-state-default {
        font-size: 22px;
    }
    .trm-form-media-section-area .trm-select-form-box .form-box label,
    .trm-form-media-section-area2 .trm-select-form-box .media-title {
        font-size: 25px;
    }
    .trm-prensa-section-area .prensa-date-list {
        margin-bottom: 25px;
    }
    .trm-slider-section-area .slider-header-content1 {
        max-width: 300px;
    }
    .trm-slider-section-area .slider-header-content .slider-title {
        font-size: 26px;
    }
    .trm-serice-section-area .services-area .trm-service-box {
        max-width: 250px;
        margin: 0 auto;
    }
    .trm-serice-section-area2 .services-area .trm-service-box {
        max-width: 250px;
        margin: 0 auto;
    }

    .sc-slick-slides:hover .prev {
        left: 17px;
    }
    .sc-slick-slides:hover .next {
        right: 92px;
    }

    .trm-blog-section-area .sc-slick-slides:hover .prev {
        right: 40px;
        left: auto;
    }
    .trm-blog-section-area .sc-slick-slides:hover .next {
        right: 0;
        left: auto;
    }

    .trm-feature-section-area .trm-feature-image {
        margin-left: -15px;
        margin-right: 30px;
    }
    .trm-counter-section-area .odometer {
        font-size: 40px;
    }
    .heading-area .title {
        font-size: 36px;
    }
    .trm-counter-section-area .trm-counter-content-box .counter-image img {
        max-width: 65px;
    }
    .trm-blog-section-area .trm-blog-item .blog-images img {
        width: 100%;
    }
    .trm-feature-section-area2 .trm-feature-image {
        margin-left: -15px;
        margin-right: 30px;
    }
    .trm-serice-section-area2 .services-area .trm-service-content .description {
        font-size: 18px;
    }
    .trm-serice-section-area3 .serivce-image img {
        width: 100%;
    }
    .trm-serice-section-area3 .serivce-box {
        max-width: 250px;
        margin: 0 auto;
    }
    .trm-serice-section-area2 .services-area .service-title {
        margin-bottom: 15px;
    }
    .trm-feature-section-area3 .trm-feature-image {
        margin-left: -15px;
        margin-right: 30px;
    }
    .trm-counter-section-area2 .trm-counter-content-box .sc-counter-box .odometer {
        font-size: 40px;
    }
    .trm-text-section-area2 .slider-header-content h3 {
        font-size: 25px;
    }
    .trm-text-section-area2 .slider-header-content span {
        font-size: 24px;
    }
}

/*medium mobile device*/
@media only screen and (max-width: 480px) {
    .categories-area .post-item .recent-content .recent-text h5,
    .blog-content .description {
        font-size: 15px;
    }

    .trm-footer-section-area .trm-footer-logo .trm-logo {
        max-width: 85px;
    }
    .trm-form-section-area .progress-area .progress .progress-bar .progress-title {
        top: 15px;
        left: 10px;
        font-size: 14px;
    }
    .trm-form-section-area .progress-area .progress .title3 {
        padding-right: 12px;
    }
    .trm-product-offcanvas-area {
        width: 245px;
    }
    .trm-feature-section-area2 .primary-btn {
        padding: 6px 35px;
    }
    .trm-cta-section-area4 .heading-area .title {
        font-size: 25px;
    }
    .trm-recogida-slider-area .slider-item .sub-tilte,
    .trm-recogida-slider-area2 .slider-item .sub-tilte {
        font-size: 15px;
    }
    .trm-prensa-section-area .trm-prensa-content .trm-prensa-text h2 {
        font-size: 22px;
    }
    .trm-contract-section-area .primary-btn {
        padding: 6px 20px;
    }
    .trm-contract-section-area .trm-contract-group .trm-contract-content .contract-title {
        font-size: 18px;
    }
    .trm-group-section-area .direccion,
    .trm-group-section-area .tecnica {
        max-width: 140px;
    }
    .trm-visita-calender-area .ui-datepicker-calendar .ui-state-default {
        font-size: 16px;
    }
    .trm-visita-calender-area .ui-datepicker-calendar .ui-state-active {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .trm-visita-calender-area .ui-datepicker-header {
        left: 22px;
    }
    .ui-datepicker-prev {
        left: -8px;
    }
}
/*small mobile device*/
