@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
$bodyFont: "Titillium Web", sans-serif;
$titleFont: "Titillium Web", sans-serif;
$primaryColor: #006648;
$secondaryColor: #6fb74d;
$bodyColor: #000000;
$whiteColor: #ffffff;
$titleColor: #101621;
$darkColor: #101621;
$thirdColor: #e2f1da;
$darkerColor: #f8f8f8;
$greenColor: #70ef34;
$whiteColor0_8: rgba(255, 255, 255, 0.8);
